openai 
langchain
langchain-openai
langchain_pinecone
langchain[docarray]
docarray
pydantic==1.10.8
pytube 
python-dotenv
tiktoken 
pinecone-client 
scikit-learn
ruff
google.ai.generativelanguage
flask
google.generativeai
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib